@charset "utf-8";

* {
    margin: 0;
    padding: 0;
}

ul li ol {
    text-decoration: none;
    list-style: none;
}

a {
    text-decoration: none;
}

.hide {
    display: none;
}

.content {
    width: 100%;
    margin-top: 120px;
    min-height: 3900px;
    position: relative;
}


.content1 {
    width: 100%;
    min-height: 648px;
    background: url(../img/2020_xams2_bg.jpg) center center no-repeat;
    margin: auto;
    overflow: hidden;
    position: relative;
    background-size: cover;
    z-index: 10010;
}

.carry {
    width: 1080px;
    height: 646px;
    position: relative;
    margin: auto;
}

.img1 {
    position: absolute;
    left: 43%;
    bottom: 22%;

}

.img2 {
    position: absolute;
    left: 64%;
    bottom: 29%;
}

.img3 {
    position: absolute;
    left: 32.1%;
    bottom: 13%;
    z-index: 5;
}

.img4 {
    position: absolute;
    left: 55%;
    bottom: 16%;
}

.img5 {
    position: absolute;
    left: 81.3%;
    bottom: 17%;
}

.img6 {
    position: absolute;
    left: 23%;
    bottom: 17%;
}

.img7 {
    position: absolute;
    left: 73.8%;
    bottom: 12%;
}

.image2 {
    position: absolute;
    left: 15%;
    top: -35%;
}

.image4 {
    position: absolute;
    left: -5%;
    top: -30%;
}

.image6 {
    position: absolute;
    left: -5%;
    bottom: -25%;
}

.image8 {
    position: absolute;
    left: 5%;
    bottom: -15%;
}

.image10 {
    position: absolute;
    left: 0%;
    top: -28%;
}

.image12 {
    position: absolute;
    left: -82%;
    bottom: 12%;
}

.image14 {
    position: absolute;
    left: 2%;
    bottom: -20%;
}

.slogan {
    position: absolute;
    top: 10%;
}

.close1 {
    color: #ffffff;
    font-size: 14px;
    width: 120px;
    height: 38px;
    border: 3px solid #ffffff;
    border-radius: 2px;
    position: absolute;
    top: 35%;
    left: 10%;
    text-align: center;
    vertical-align: middle;
}

.close1 a {
    padding-top: 12px;
    color: #ffffff;
    display: block;
    width: 100%;
}


.close1 a:hover {
    width: 100%;
    height: 26px;
    text-decoration: underline;
    color: #ffffff;
    background-color: #006C42;

}

.content2 {
    width: 100%;
    min-height: 62px;
    margin: auto;
    position: relative;
    margin-top: -1px;
    z-index: 5;
}

.gongback {
    width: 50%;
    height: 62px;
    position: absolute;
    left: 0;
    top: 0;
    background-color: #000000;
    background-size: cover;

}

.gongback1 {
    width: 50%;
    height: 62px;
    position: absolute;
    right: 0;
    bottom: 0;
    background-color: #ffffff;
    background-size: cover;
}

.contentprom {
    width: 1280px;
    height: 62px;
    position: relative;
    margin: auto;
}

.gongji1 {
    display: block;
    width: 50%;
    height: 62px;
    float: left;
    background-color: #000000;
    position: relative;
    font-size: 14px;
}

.gongji1 a {
    color: #ffffff;
}

.notice {
    width: auto;
    height: 62px;
    margin-left: 500px;
}

.notice1 {
    display: block;
    position: absolute;
    left: 15%;
    top: 35%;
}

.gong3 {
    position: absolute;
    left: 30%;
    top: 37%;
    min-width: 400px;
    height: 61px;
    float: left;
}

.gong3 a {
    display: block;
    width: 100%;
    text-decoration: none;
    line-height: 61px;
}

.gong13 {
    width: 400px;
    height: 61px;
    text-align: center;
}

.icon1 {
    display: block;
    width: 36px;
    height: 36px;
    position: absolute;
    top: 20%;
    right: 2%;
    float: left;
}

.icon1 img {
    width: 100%;
    height: 100%;
}

.prom {
    width: 550px;
    height: 62px;
    position: relative;
}

.gongji2 {
    display: block;
    width: 50%;
    float: left;
    background-color: #ffffff;
    position: relative;
}

.prom1 {
    display: block;
    position: absolute;
    left: 50%;
    top: 35%;
    width: 129px;
    height: 17px;

}

.prom1 img {
    width: 100%;
    height: 100%;
}

.btn1 {
    display: block;
    position: absolute;
    top: 20%;
    right: 20%;
}

.menu1,
.menu2,
.menu3,
.menu4 {
    display: none;
}

.btn2 {
    display: none;
}

.content3 {
    width: 100%;
    min-height: 237px;
    background-color: #1e3932;
    position: relative;
    z-index: 5;
}

.content3-1 {
    width: 1200px;
    height: 237px;
    margin: auto;
    position: relative;
}

.rewards {
    width: 176px;
    display: block;
    position: absolute;
    left: 10%;
    top: 15%;
}

.rewards_desc {
    display: block;
    width: 800px;
    height: 200px;
    position: absolute;
    top: 15%;
    left: 28%;
    margin: auto;
}

.desc1 {
    display: block;
    color: #ffffff;
    font-size: 26px;
}

.desc2 {
    display: block;
    color: #ffffff;
    font-size: 17px;
    line-height: 25px;
}

.desc3 {
    display: block;
    color: #ffffff;
    font-size: 14px;
    line-height: 25px;
}

.hg {
    display: block;
    width: 90px;
    height: 34px;
    background-color: #00704a;
    position: absolute;
    top: 50px;
    right: 100px;
    border: 1px solid #00704a;
    border-radius: 5px;
    font-size: 14px;

}

.hg1 {
    display: block;
    line-height: 30px;
    margin-left: 17px;
    color: #ffffff;
}

.login {
    display: block;
    width: 90px;
    height: 34px;
    background-color: #1e3932;
    border: 2px solid #ffffff;
    border-radius: 5px;
    font-size: 14px;
    position: absolute;
    top: 48px;
    right: 0px;
}

.login1 {
    display: block;
    line-height: 34px;
    margin-left: 25px;
    color: #ffffff;

}

.starbucks_reward {
    border-bottom: 1px solid #555555;
}

.desc3 {
    margin-top: 20px;
    line-height: 20px;
}

.gift {
    display: block;
    width: 190px;
    height: 34px;
    background-color: #1e3932;
    border: 2px solid #ffffff;
    border-radius: 5px;
    font-size: 14px;
    position: absolute;
    bottom: 15%;
    right: 0px;
}

.gift1 {
    color: #ffffff;
    line-height: 32px;
    margin-left: 30px;
}

.content4 {
    width: 100%;
    height: 573px;
    background: url(../img/2020_xmas_bean_bg.jpg) center center no-repeat;
    margin: auto;
    position: relative;
    background-size: cover;
    z-index: 5;
}

.bean {
    width: 1100px;
    height: 573px;
    margin: auto;
    position: relative;
}

.bean1 {
    position: absolute;
    top: 13%;
    left: 0%;
}

.bean2 {
    position: absolute;
    top: 31%;
    left: 49%;
}

.bean3 {
    font-size: 14px;
    width: 120px;
    border: 3px solid #555;
    border-radius: 2px;
    padding: 9px 2px;
    position: absolute;
    bottom: 23%;
    left: 49%;
    text-align: center;
}

.bean3 a {
    color: #555;
}

.content5 {
    width: 100%;
    height: 400px;
    background: url(../img/reserve_xmas_bg.jpg) center center no-repeat;
    position: relative;
    z-index: 5;
}

.reserve {
    width: 1200px;
    height: 400px;
    margin: auto;
    position: relative;
}

.reserve1 {
    position: absolute;
    right: -5%;
}

.reserve2 {
    position: absolute;
    left: 5%;
    top: 33%;
}

.reserve3 {
    font-size: 14px;
    width: 120px;
    border: 2px solid #e3b59e;
    border-radius: 2px;
    padding: 9px 2px;
    position: absolute;
    bottom: 27%;
    left: 37%;
    text-align: center;
}

.close3 {
    color: #e3b59e;
}

.content6 {
    width: 100%;
    height: 800px;
    background: url(../img/fav_prod_bg_new.jpg) center center no-repeat;
    background-size: cover;
    position: fixed;
    top: 0;
    margin-top: 115px;
    z-index: 1;
}

.content6_1 {
    width: 100%;
    height: 800px;
    position: absolute;
    top: 1900px;
    z-index: 5;
}

.fav {
    width: 1280px;
    height: 800px;
    margin: auto;
    position: relative;
}

.fav1 {
    position: absolute;
    top: 17%;
    left: 15%;
}

.fav2 {
    position: absolute;
    top: 49%;
    left: 6%;
}

.fav3 {
    position: absolute;
    top: 15%;
    right: 0%;
}

.fav4 {
    font-size: 14px;
    width: 120px;
    border: 2px solid #ffffff;
    border-radius: 2px;
    padding: 9px 2px;
    position: absolute;
    bottom: 18%;
    left: 24%;
    text-align: center;
}

.close4 {
    color: #ffffff;
}

.content7 {
    width: 100%;
    height: 695px;
    background-color: #ffffff;
    background-size: cover;
    position: relative;
    top: 0;
    margin-top: 800px;
    z-index: 5;
}

.visual {
    width: 1240px;
    height: 695px;
    margin: auto;
    position: relative;
}

.liner {
    width: 1000px;
    height: 420px;
    border-bottom: 1px solid #d2d2d2;
    position: absolute;
    left: 20%;
}

.visual1 {
    position: absolute;
    left: 4%;
    top: 11.5%;
}

.liner1 {
    width: 800px;
    height: 420px;
    border-left: 1px solid #d2d2d2;
    position: absolute;
    right: -10%;
    top: 20%;
}

.visual2 {
    position: absolute;
    top: 28%;
    left: 5%;
}

.visual3 {
    display: block;
    position: absolute;
    bottom: 20%;
    left: 5%;
}

.content8 {
    width: 100%;
    height: 400px;
    background: url(../img/store_bg.jpg) center center no-repeat;
    background-size: cover;
    position: relative;
    top: 0;
    z-index: 4;
    margin-bottom: 100px;
}

.store {
    width: 1280px;
    height: 400px;
    margin: auto;
    position: relative;
}

.store1 {
    position: absolute;
    top: 0%;
    left: 12%;
}

.store2 {
    position: absolute;
    top: 37%;
    left: 30%;
}

.store3 {
    position: absolute;
    top: -15%;
    left: 42%;
}

.store4 {
    position: absolute;
    top: 25%;
    right: 12%;
}

.store5 {
    position: absolute;
    top: 42%;
    right: 13.5%;
}

.store6 {
    position: absolute;
    bottom: 0;
    right: 3%;
}

.store7 {
    font-size: 14px;
    width: 120px;
    border: 2px solid #000000;
    border-radius: 3px;
    padding: 9px 2px;
    position: absolute;
    bottom: 25%;
    right: 31%;
    text-align: center;
}

.search {
    color: #000000;
}