@charset "utf-8";

* {
    margin: 0;
    padding: 0;
}

ul li ol {
    text-decoration: none;
    list-style: none;
}

a {
    text-decoration: none;
}

.content1 {
    width: 100%;
    min-height: 648px;
    background: url(../img/2020_xams2_bg.jpg) no-repeat;
    background-color: #000000;
}

.content1 li {
    float: left;
}