@charset "utf-8";

* {
    margin: 0;
    padding: 0;
    font-family: 'Nanum Gothic', sans-serif;
}

ul li ol {
    text-decoration: none;
    list-style: none;
}

a {
    text-decoration: none;
}

/* 공통 CSS */
.blfont {
    color: #555;
}

.grayfont {
    font-size: 12px;
    color: #999;
}

.whfont {
    color: #ffffff;
}

.linecenter {
    padding-top: 10px;
}

.linein {
    display: inline-block;
}

.container {
    width: 100%;
    height: 100%;
}

/* 상단 바 구성*/
.header {
    width: 100%;
    height: 120px;
    position: relative;
}

.menu {
    width: 100%;
    height: 120px;
    border: 1px solid #e5e5e5;
    position: fixed;
    left: 0;
    top: 0;
    background-color: #f6f5ef;
    z-index: 10000;
}

/* 로그인 부분 구성 */
.menu_header {
    width: 1100px;
    height: 120px;
    margin: auto;
    position: relative;
    background-color: #f6f5ef;
    font-size: 13px;
}


.logo {
    display: block;
    position: absolute;
    top: 22px;
    left: 0px;
    width: 75px;
    height: 75px;
    z-index: 11;
}

.logo img {
    width: 100%;
    height: 100%;
}

.menu_head {
    display: block;
    width: 500px;
    height: 20px;
    position: absolute;
    top: 15px;
    right: 80px;
    background-color: #f6f5ef;
}

.sign1 {
    width: 80px;
    height: 20px;
    float: left;
    text-align: center;
}

.sign2 {
    width: 110px;
    height: 20px;
    float: left;
    text-align: center;
}

.sign3 {
    width: 185px;
    height: 20px;
    float: left;
    text-align: center;
}

.sign4 {
    width: 100px;
    height: 20px;
    float: left;
    text-align: center;
}

.sign a {
    display: block;
    width: 100%;
    height: 20px;
    border-left: 1px solid #ddd;
}

.sign1 a {
    border-left: none;
}

.sign a:hover {
    text-decoration: underline;
}

.icon {
    width: 35px;
    height: 35px;
    background-color: #ffffff;
    position: absolute;
    top: 5px;
    right: 60px;
    border: 1px solid #ccc;
    border-radius: 5px;
    z-index: 101;
}

.icon1 {
    display: block;
    width: 35px;
    height: 35px;
    position: absolute;
    top: 0;
    left: 0;
}

.icon1 img {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 7px;
    left: 7px;
}

/* 메뉴판 구성 */
.menu_content {
    width: 100%;
    height: 66px;
    position: absolute;
    top: 55px;
    left: 0;
    z-index: 10;
    font-size: 13px;
}

.menu_cont {
    height: 66px;
    margin: auto;
    z-index: 7;
    position: relative;
    margin-left: -1px;
}

.menubar {
    display: block;
    margin: auto;
    float: right;
    margin-right: 420px;
    margin-top: 10px;
}

.menubar li {
    float: left;
}

.menubar1 {
    height: 66px;
}

.menubar2 {
    width: 75px;
    height: 66px;
}

.menubar3 {
    width: 80px;
    height: 66px;
}

.menubar4 {
    width: 155px;
    height: 66px;
}

.menubar5 {
    width: 225px;
    height: 66px;
}

.menubar6 {
    width: 131px;
    height: 66px;
}

/* coffee 바 */

.coffee {
    display: block;
    width: 90px;
    height: 56px;
    padding-top: 10px;
}

.menu_coffee a:hover {
    color: #669900;
    background-color: #2C2A29;
    text-decoration: underline;
}

.menu_coffee {
    text-align: center;
}

.menu_coffee1 {
    display: block;
    width: 100%;
    height: 550px;
    background-color: #2C2A29;
    position: absolute;
    left: 0%;
    top: 66px;
    margin-left: -1px;
    margin: auto;
}

.menu_cof1 {
    display: inline-block;
    width: 100%;
    height: 430px;
    background-color: #2C2A29;
}

.menu_cof2 {
    display: inline-block;
    width: 100%;
    height: 120px;
    background: url(../img/header_menu_bg.jpg) repeat;
}

.menu_sub1 {
    display: block;
    width: 1100px;
    height: 430px;
    margin: auto;
    position: relative;
}

.sub_coffee {
    display: inline-block;
    width: 19%;
    height: 200px;
    margin-top: 25px;
    line-height: 20px;
    float: left;
}

.sub_coffee li {
    float: none;
}

.sub_coffee:after {
    content: '';
    display: block;
    float: none;
    clear: both;
}

.menu_sub2 {
    width: 1100px;
    height: 120px;
    margin: auto;
    position: relative;
    color: #64a70b;
    line-height: 15px;
}

.menu_footer1 {
    width: 600px;
    height: 120px;
    position: absolute;
    left: 0;
    top: 15%;
}

/* menu 바 */
.menu_menu a:hover {
    color: #669900;
    background-color: #2C2A29;
    text-decoration: underline;
}

.menu_menu {
    text-align: center;
}

.menu_m {
    display: block;
    width: 75px;
    height: 56px;
    padding-top: 10px;
}

.menu_menu1 {
    display: block;
    width: 100%;
    height: 400px;
    background-color: #2C2A29;
    position: absolute;
    left: 0%;
    top: 66px;
    margin-left: -1px;
}

.menu_mn1 {
    display: inline-block;
    width: 100%;
    height: 300px;
    background-color: #2C2A29;
}

.menu_mn2 {
    display: inline-block;
    width: 100%;
    height: 100px;
    background: url(../img/header_menu_bg.jpg) repeat;
}

.menu_sub3 {
    display: block;
    width: 1100px;
    height: 300px;
    margin: auto;
    position: relative;
}


.menu_sub4 {
    width: 1100px;
    height: 100px;
    margin: auto;
    position: relative;
    color: #64a70b;
    line-height: 15px;
}

.menu_footer2 {
    width: 600px;
    height: 100px;
    position: absolute;
    left: 0;
    top: 30%;
}

/* store바 */
.menu_store a:hover {
    color: #669900;
    background-color: #2C2A29;
    text-decoration: underline;
}

.menu_store {
    text-align: center;
}

.store_st {
    display: block;
    width: 80px;
    height: 56px;
    padding-top: 10px;
}

.menu_store1 {
    display: block;
    width: 100%;
    height: 270px;
    background-color: #2C2A29;
    position: absolute;
    left: 0%;
    top: 66px;
    margin-left: -1px;
}

.menu_st1 {
    display: inline-block;
    width: 100%;
    height: 150px;
    background-color: #2C2A29;
}

.menu_st2 {
    display: inline-block;
    width: 100%;
    height: 120px;
    background: url(../img/header_menu_bg.jpg) repeat;
}

.menu_sub5 {
    display: block;
    width: 1100px;
    height: 150px;
    margin: auto;
    position: relative;
}

.menu_sub6 {
    width: 1100px;
    height: 120px;
    margin: auto;
    position: relative;
    color: #64a70b;
    line-height: 15px;
}

.menu_footer3 {
    width: 600px;
    height: 120px;
    position: absolute;
    left: 0;
    top: 20%;
}

/* res바 */
.menu_respon a:hover {
    color: #669900;
    background-color: #2C2A29;
    text-decoration: underline;
}

.menu_respon {
    text-align: center;
}

.respon {
    display: block;
    width: 155px;
    height: 56px;
    padding-top: 10px;
}

.menu_res {
    display: block;
    width: 100%;
    height: 300px;
    background-color: #2C2A29;
    position: absolute;
    left: 0%;
    top: 66px;
    margin-left: -1px;
}

.menu_res1 {
    display: inline-block;
    width: 100%;
    height: 200px;
    background-color: #2C2A29;
}

.menu_res2 {
    display: inline-block;
    width: 100%;
    height: 100px;
    background: url(../img/header_menu_bg.jpg) repeat;
}

.menu_sub7 {
    display: block;
    width: 1100px;
    height: 200px;
    margin: auto;
    position: relative;
}

.menu_sub8 {
    width: 1100px;
    height: 100px;
    margin: auto;
    position: relative;
    color: #64a70b;
    line-height: 15px;
}

.menu_footer4 {
    width: 600px;
    height: 100px;
    position: absolute;
    left: 0;
    top: 30%;
}

/* rewards바*/
.menu_rewards a:hover {
    color: #669900;
    background-color: #2C2A29;
    text-decoration: underline;
}

.menu_rewards {
    text-align: center;
}

.reward {
    display: block;
    width: 225px;
    height: 56px;
    padding-top: 10px;
}

.menu_rewards1 {
    display: block;
    width: 100%;
    height: 300px;
    background-color: #2C2A29;
    position: absolute;
    left: 0%;
    top: 66px;
    margin-left: -1px;
}

.menu_rew1 {
    display: inline-block;
    width: 100%;
    height: 200px;
    background-color: #2C2A29;
}

.menu_rew2 {
    display: inline-block;
    width: 100%;
    height: 100px;
    background: url(../img/header_menu_bg.jpg) repeat;
}

.menu_sub9 {
    display: block;
    width: 1100px;
    height: 200px;
    margin: auto;
    position: relative;
}

.menu_sub10 {
    width: 1100px;
    height: 100px;
    margin: auto;
    position: relative;
    color: #64a70b;
    line-height: 15px;
}

.menu_footer5 {
    width: 600px;
    height: 100px;
    position: absolute;
    left: 0;
    top: 30%;
}

/* new 바 */
.menu_new a:hover {
    color: #669900;
    background-color: #2C2A29;
    text-decoration: underline;
}

.menu_new {
    text-align: center;
}

.new {
    display: block;
    height: 56px;
    padding-top: 10px;
}

.menu_new1 {
    display: block;
    width: 100%;
    height: 420px;
    background-color: #2C2A29;
    position: absolute;
    left: 0%;
    top: 66px;
    margin-left: -1px;
}

.menu_n1 {
    display: inline-block;
    width: 100%;
    height: 300px;
    background-color: #2C2A29;
}

.menu_n2 {
    display: inline-block;
    width: 100%;
    height: 120px;
    background: url(../img/header_menu_bg.jpg) repeat;
}

.menu_sub11 {
    display: block;
    width: 1100px;
    height: 300px;
    margin: auto;
    position: relative;
}

.menu_sub12 {
    width: 1100px;
    height: 120px;
    margin: auto;
    position: relative;
    color: #64a70b;
    line-height: 15px;
}

.menu_footer6 {
    width: 600px;
    height: 120px;
    position: absolute;
    left: 0;
    top: 20%;
}