/*@charset "utf-8";



.menu1 a:hover {
    color: #669900;
    background-color: #2C2A29;
    text-decoration: underline;
}

.sub_menu {
    width: 100%;
    height: 430px;
    position: relative;
    top: 0;
    margin: auto;
    z-index: 10001;
    background-color: #2C2A29;
    margin-top: -1px;
}

.sub_s {
    width: 1100px;
    height: 430px;
    margin: auto;
    position: relative;
}


.sub_s1 {
    width: 100%;
    height: 120px;
    background: url(../img/header_menu_bg.jpg) center center repeat;
    position: relative;
    color: #64a70b;
}

.sub_coffee1 {
    display: block;
    width: 1100px;
    height: 120px;
    margin: auto;
    position: relative;
}

.sub_menu_footer {
    display: block;
    width: 400px;
    height: 100px;
    position: absolute;
    left: -19%;
    top: 10%;
}

.sub_menu1 {
    width: 100%;
    height: 270px;
    position: relative;
    top: 0;
    margin: auto;
    z-index: 10001;
    background-color: #2C2A29;
    margin-top: -1px;
}

.sub_s2 {
    width: 1100px;
    height: 270px;
    margin: auto;
    position: relative;
}

.sub_s3 {
    width: 100%;
    height: 120px;
    background: url(../img/header_menu_bg.jpg) center center repeat;
    position: relative;
    color: #64a70b;
}

.sub_menu_footer1 {
    display: block;
    width: 800px;
    height: 100px;
    position: absolute;
    left: 0;
    top: 30%;
    line-height: 20px;
    font-size: 12px;
}

.sub_menu2 {
    width: 100%;
    height: 270px;
    position: relative;
    top: 0;
    margin: auto;
    z-index: 10001;
    background-color: #2C2A29;
    margin-top: -1px;
}

.sub_s4 {
    width: 1100px;
    height: 170px;
    margin: auto;
    position: relative;
}

.sub_s5 {
    width: 100%;
    height: 150px;
    background: url(../img/header_menu_bg.jpg) center center repeat;
    position: relative;
    color: #64a70b;
}

.sub_menu_footer2 {
    display: block;
    width: 800px;
    height: 100px;
    position: absolute;
    left: 0;
    top: -30%;
    line-height: 20px;
    font-size: 12px;
}

.sub_menu3 {
    width: 100%;
    height: 300px;
    position: relative;
    top: 0;
    margin: auto;
    z-index: 10001;
    background-color: #2C2A29;
    margin-top: -1px;
}

.sub_s6 {
    width: 1100px;
    height: 200px;
    margin: auto;
    position: relative;
}

.sub_s7 {
    width: 100%;
    height: 100px;
    background: url(../img/header_menu_bg.jpg) center center repeat;
    position: relative;
    color: #64a70b;
}

.sub_menu_footer3 {
    display: block;
    width: 800px;
    height: 100px;
    position: absolute;
    left: 0;
    top: 0%;
    line-height: 20px;
    font-size: 12px;
}

.sub_menu4 {
    width: 100%;
    height: 300px;
    position: relative;
    top: 0;
    margin: auto;
    z-index: 10001;
    background-color: #2C2A29;
    margin-top: -1px;
}

.sub_s8 {
    width: 1100px;
    height: 200px;
    margin: auto;
    position: relative;
}

.sub_s9 {
    width: 100%;
    height: 100px;
    background: url(../img/header_menu_bg.jpg) center center repeat;
    position: relative;
    color: #64a70b;
}

.sub_menu_footer4 {
    display: block;
    width: 800px;
    height: 100px;
    position: absolute;
    left: 0;
    top: 0%;
    line-height: 20px;
    font-size: 12px;
}

.sub_menu5 {
    width: 100%;
    height: 300px;
    position: relative;
    top: 0;
    margin: auto;
    z-index: 10001;
    background-color: #2C2A29;
    margin-top: -1px;
}

.sub_s10 {
    width: 1100px;
    height: 300px;
    margin: auto;
    position: relative;
}

.sub_s11 {
    width: 100%;
    height: 140px;
    background: url(../img/header_menu_bg.jpg) center center repeat;
    position: relative;
    color: #64a70b;
}

.sub_menu_footer5 {
    display: block;
    width: 800px;
    height: 120px;
    position: absolute;
    left: -19%;
    top: 10%;
    line-height: 20px;
    font-size: 12px;
}*/