@charset "utf-8";

.side {
    width: 130px;
    height: 334px;
    position: absolute;
    top: 10%;
    right: 12%;
    z-index: 10000;
}

.sidebar {
    width: 130px;
    height: 334px;
    position: absolute;
    top: 14%;
    right: 13%;
    z-index: 10000;
}

.sidebar1 {
    width: 130px;
    height: 334px;
    position: absolute;
    top: 14%;
    right: 0;
    z-index: 10000;

}