@charset "utf-8";

.side {
    width: 140px;
    height: 334px;
    position: fixed;
    top: 154px;
    left: 50%;
    z-index: 102;
    margin-left: 570px;
}

.sidebar {
    width: 140px;
    height: 334px;
    position: relative;

}

.sidebar1 {
    position: absolute;
    top: 0;
    left: 0;
}

.sidebar2 {
    position: absolute;
    bottom: 0%;
    left: -2%;
}

/* 프로모션 슬라이딩 처리 CSS */
.content2-1 {
    width: 100%;
    height: 660px;
    position: relative;
    z-index: 100;
    background: #f6f5ef;
}

.slide-container {
    width: 5500px;
    height: 660px;
    margin: auto;
    text-align: center;
    z-index: 100;
    background-color: rgba(246, 245, 239, 0.2);
}

.slides {
    width: 5500px;
    height: 660px;
    margin: auto;
    z-index: 100;
    margin-left: 0%;
}

.slides-container {
    width: 100%;
    height: 660px;
    margin: auto;
    background-color: rgba(246, 245, 239, 0.2);
    z-index: 100;
    margin-right: 100px;
}

.slides-container li {
    display: inline-block;
    float: left;
    width: 820px;
    background-color: rgba(246, 245, 239, 0.2);
    z-index: 100;
    transform: translateX(-2150px);
    margin-right: 20px;
    margin-top: 50px;

}

.aa1 {
    width: 5500px;
    height: 660px;
    background-color: rgba(246, 245, 239, 0.2);
    z-index: 110;
}