@charset "utf-8";

.side {
    width: 140px;
    height: 334px;
    position: fixed;
    top: 154px;
    left: 50%;
    z-index: 102;
    margin-left: 570px;
}

.sidebar {
    width: 140px;
    height: 334px;
    position: relative;

}

.sidebar1 {
    position: absolute;
    top: 0;
    left: 0;
}

.sidebar2 {
    position: absolute;
    bottom: 0%;
    left: -2%;
}